{% extends 'layout.html' %}

{#outputs on ´example navbar#}

{% block body %}


    <h1>Data for deals {{ year }}</h1>
    <br>
    <br>
    <div class="row" style="background-color: darkgray">
        <div class="col col-1">
            <p>#</p>
        </div>
        <div class="col col-md-2">
            <p>company</p>
        </div>
        <div class="col col-md-1">
            <p>Status</p>
        </div>
        <div class="col col-md-1">
            <p>Month</p>
        </div>
        <div class="col col-md-1">
            <p>Won_deals</p>
        </div>
        <div class="col col-md-2">
            <p>Company</p>
        </div>
        <div class="col col-md-2">
            <p>Value</p>
        </div>
        <div class="col col-md-1">
            <p>deal_name</p>
        </div>
    </div>

    {#********* Comany status**********#}

    <div class="table_div"
         style="position: absolute; width: 397px; left: 245px; top: 208px; height: 300px; overflow: auto;">

        <table class="table table-bordered table-striped mb-0  table-success">
            <tbody>
            {% for company, status in updated_company_status.items() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ company }}</td>
                    <td>{{ status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {#********* Won deals pr mont**********#}

    <div style=" width: 185px; height: 300px; position:absolute; top: 208px; left: 643px; overflow: auto">

        <table class="table table-striped table-sm table-danger" style="width: 185px; position: relative;">
            <tbody>
            {% for month, deals in deals_pr_month.items() %}
                <tr>
                    <td>{{ month }}</td>
                    <td>{{ deals }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    {#********* Values per customer  **********#}

    <div style=" width: 560px; height: 300px; position:absolute; top: 208px; left:826px; overflow: auto;">
        <table class="table table-striped table-sm table-warning border border-success"
               style="width: 565px; position: relative;">
            <tbody>
            {% for items in customer_and_values %}
                <tr>
                    {#<td>{{ loop.index }}</td>#}
                    {% for data in items %}
                        <td style="width: 35%">{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{#
    <div style="background-color: darkgray; position: relative; top: 350px; width: 150px; height: 100px; left: 380px; text-align: center; border-radius: 25px; ">
        <p style="position: relative; margin: auto">Total deals: {{ total_deals }}</p>
        <p>Average deals:{{ average_deals }}</p>
    </div>#}

    <ul class="list-group" style="position:relative; top: 350px;">
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
            Total Deals:
            <span class="badge badge-primary badge-pill">{{ total_deals }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
            Average deals:
            <span class="badge badge-primary badge-pill">{{ average_deals }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
            Total Values:
            <span class="badge badge-primary badge-pill">{{ total_values }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
            Average Values:
            <span class="badge badge-primary badge-pill">{{ average_values }}</span>
        </li>

    </ul>
    {# <div style="background-color: darkgray; position: relative; top: 350px; width: 150px; height: 100px; left: 480px; text-align: center; border-radius: 25px; ">
        <p style="position: relative; margin: auto">Total values: {{ total_values }}</p>
        <p>Average values:{{ average_values }}</p>
    </div>#}



{% endblock %}