{% extends 'layout.html' %}

{#outputs on ´example navbar#}

{% block body %}


    <h1>Data for deals previous year{#{{ previuosYear }}#}</h1>
    <br>
    <br>
    <br>

    <h2>Average deal value won last year: {{ average }}</h2>
    <h2>Number of won deals pr month last year: </h2>
    <h2>Total value of won pr customer last year: </h2>

    {#         <div class="speech_bubble" style="width: 150px; height: 150px; position: relative; left: 200px; background-color: chartreuse; text-align: center; ">Avg: </div>#}
    {#         <div class="speech_bubble" style="width: 150px; height: 150px; position: relative; left: 500px; background-color: chartreuse; text-align: center">Avg: </div>#}
    {#         <div class="speech_bubble" style="width: 150px; height: 150px; position: relative; left: 800px; background-color: chartreuse; text-align: center">Avg: </div>#}


    {#<div class="div_avg_deals" style="height: 100px; width: 100px; background-color: blue; position: relative; float: right;">Avg: </div>#}
    <br>


    {#{% if deals %}#}





    <table class="table table-striped " style=" position: relative; top: 100px;">
        <thead>
        <tr>
            {#  <th scope="col">#</th>#}
            {% for header in heads %}
                <th scope="col">{{ header.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for deal in deals %}
            <tr>
                <th scope="row">loop.index</th>

                {% for data in deal %}
                    <td>{{ data }}</td>
                {% endfor %}



                {#  <td>{{ deal.get('num') }}</td>

                <td>{{ deal.get('won') }}</td>

                <td>{{ deal.get('stat') }}</td>#}
            </tr>
        {% endfor %}

        {#
            <tr>
                {% if 'avg' in item %}
                    <th scope="row">{{ item.avg }}</th>
                {% endif %}
            </tr>
            <tr>
                {% if 'won' in item %}
                    <th scope="row">{{ item.won }}</th>
                {% endif %}
            </tr>
             <tr>
                {% if 'stat' in item %}
                    <th scope="row">{{ item.stat }}</th>
                {% endif %}
            </tr>#}

        </tbody>
    </table>

    {#  {% else %}


            <H1 style="color: blueviolet">{{ msg }}</H1>

        {% endif %}#}



{% endblock %}